.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(1, 58, 20, 0.048) !important;
    transition: all 0.7s linear;
}
.card {
    width: 300px;
    height: 75%;
    margin: 100px;
    padding: 10px;
    
}



.card-body {
    padding: 2rem 0 !important;

}



.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transition: all 0.3s ease-in-out;

}

.card-img-top:hover {
  
    transform: scale(1.8);
}